<!-- {{name| uppercase}} <br>
{{name| lowercase}} <br>
{{name| titlecase}} <br>
{{name| slice:3:5}} <br>
{{person| json}} <br> -->
<!-- {{5.678| number:'1.2-3'}} <br>
{{5.678| number:'3.4-5'}} <br>
{{0.25| percent}} <br>
{{0.25| currency}} <br>
{{0.25| currency:'GBP'}} <br> -->
{{grade | percent: '2.2-2'}} //percent pipes <br>
{{myDate | date}}  //default date format<br>
{{myDate| date:'short'}}  //short date format<br>
{{myDate| date:'shortDate'}} <br> 
{{myDate| date:'shortTime'}} <br>
{{myDate| date:'medium'}} <br>
{{myDate| date:'long'}} <br>
{{myDate| date:'full'}} <br>
{{myDate| date:'dd-MM-yyyy HH:mm:ss'}} //date in custom format <br>