.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Changed from column to row */
}

.col-12 {
    text-align: left;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
